@media(min-width: 376px) {

    .container {
      display: grid;
      /*Using the CSS Grid therefore display for the container is grid*/
      grid-template-rows: auto;
      /*This is auto so the can be mutiple amount of rows on in the template*/
      margin: 0 auto;
      max-width: 1140px;
      /*The max width of the viewport*/
    }

    /*Home page is put into 3 columns using grid*/
    .homecontent {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    /*about content is put into 2 columns using grid. The first one being 2x the size of the other*/
    .about {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-gap: 10px;
    }

    /*Content class is put into 2 columns using grid. The first one being 2x the size of the other*/
    .content {
      display: grid;
      grid-template-columns: 2fr 1fr;
    }
    
    /*footer content is put into 2 columns using grid*/
    .footer {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

  }