/*BODY STYLES*/

body {
    background-color: #F2F2F2;
    margin: 0;
}


/*NAVIGATION POSITIONING*/
nav {
    position: absolute;
    margin-left: 280px;
    margin-top: -50px;
}


nav ul {
    display: flex;
    list-style-type: none;
    margin: 10px;
}

nav li a {
    position: relative;
    font-weight: 600;
    color: #ffffff;
    padding: 10px;
    margin-left: 10px;
    background-color: #253237;
    font-family: 'Prata', serif;
    list-style-type: none;
    text-decoration: none;
    border-radius: 5px;
}

/*FONT STYLES AND POSITIONING*/

h1 {
    position: relative;
    font-family: 'Prata', serif;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 50px;
    margin: auto;
    padding-top: 20px;
    text-align: center;
}

h2 {
    position: relative;
    font-family: 'Prata', serif;
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    padding: 20px;
    margin: 200px;
    margin-bottom: 10px;
    margin-top: 0;
    text-align: center;
}

p {
    font-family: 'Prata', serif;
    font-size: 14px;
    margin-left: 20px;
    color: #ffffff;
}

/*Edited versions of the fonts that have small changes to fit the design*/
.colour {
    color: #000000;
}

.edit {
    color: #000000;
}

.title {
    margin: 0;
}


/*BUTTON STYLING*/
.button {
    position: absolute;
    cursor: pointer;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    color: #ffffff;
    background-color: #253237;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    width: 130px;
    height: 20px;
    margin-left: 55%;
}


/*BANNER STYLING*/
/*Home Page banner*/
.banner {
    background-image: url("cssimages/harry.jpg"); /*Pulls in an image from cssimages and uses it as the background*/
    background-repeat: no-repeat; /*Stops the image from being repeated*/
    background-position: 100%;
    background-size: 100%;
    padding: 20px;
}

/*About Page banner*/
.banner1{
    opacity: 0.85; /*Makes the image slightly faded*/
    background-image: url("cssimages/dufresne.jpg");/*Pulls in an image from cssimages and uses it as the background*/
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 100%;
    padding: 20px;
}

/*Support Page banner*/
.banner2{
    opacity: 0.75; /*Makes the image slightly faded*/
    background-image: url("cssimages/paws.jpg");/*Pulls in an image from cssimages and uses it as the background*/
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 100%;
    padding: 20px;
}

/*Contact Page banner*/
.banner3{
    opacity: 0.75;/*Makes the image slightly faded*/
    background-image: url("cssimages/paula.jpg");/*Pulls in an image from cssimages and uses it as the background*/
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 100%;
    padding: 20px;
}

/*LOGO POSITIONING*/
.logo {
    position: relative;
    width: 10%;
    height: 20%;
}

/*These elements of styling is to create the positioning and colour of the articles*/
article {
    border-radius: 10px;/*Rounds the edges of the article*/
    background-color: #5C6B73; /*Sets the background colour*/
    border: 1px #615E5E; /*Small border is added*/
    width: 75%; 
    height: 70%;
    margin-left: 10px;
    margin-right: auto;
    margin-top: 40px;
    padding: 30px;
}

/*HOMEPAGE STYLES*/
/*Styles added for the image of poppy (positioning)*/
.poppy {
    width: 100%;
    margin-top: 40px;
    border-radius: 10px;
    height: 80%;
}

/*ABOUT US PAGE STYLES*/
/*The values bar on the about us page styling*/
.values {
    display: flex;
    width: -webkit-fill-available; /*Fits the width of the screen*/
    border-radius: 10px;
    background-color: #5C6B73;
    border: 1px #615E5E;
    margin-left: 10px;
    margin-right: auto;
    margin-top: 40px;
    padding: 30px;
    height: 70%;
}

/*This includes the styling for the individual values within the values section*/
.value {
    margin-left: 10%;
    height: 10%;
}

/*Positioning for the team section of team at Rising Falcon */
.team {
    height: fit-content;
    margin-bottom: 20px;
}

/*Important notice positioning*/
.notice {
    border-radius: 10px;
    width: fit-content;
}

/*Image of kevin positioning*/
.kevin {
    border-radius: 10px;
    width: 100%;
    height: 410px;
}

/*SUPPORT PAGE STYLES*/
/*Support class is to adjust the positioning article*/
.support {
    border-radius: 10px;
    width: 93.5%;
    height: fit-content;
}

/*Eagles is the article that holds all of the bird divs, this is an essiental for the placement of the sponser pictures*/
.eagles {
    display: flex; /*Added to make the content flex across the screen*/
    width: fit-content;
    height: fit-content;
    margin-bottom: 50px;
}

/*Each set of birds has a background these are the syles to position elements correctly*/
.birds {
    width: 80%;
    border-radius: 5px;
    margin-left: 30px;
    text-align: justify;
}

/*Positions the images of the birds on the support page*/
.birds img {
    display: block;
    margin: 10px;
    margin: 0 auto;
}

/*CONTACT PAGE STYLING*/

.contact {
    display: inline-flex;
}


/*Form styles*/
form {
    width: 502px;
    height: 560px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
}
/*The label element font changes to fit the design*/
label {
    font-family: 'Prata', serif;
    font-size: 14px;
    color: #ffffff;
}

/*The input element colour changes to fit the design*/
input{
    margin: 10px;
    padding: 10px;
    background-color: #C2DFE3;
    border-radius: 5px;
}

/*The textarea element colour changes to fit the design*/
textarea {
    background-color: #C2DFE3;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

/*The send button is styled to fit on the form correctly*/
.send {
    position: absolute;
    margin-top: 120px;
    margin-left: -240px;
}

/*Times height is adjusted to fit on the screen properly*/
.times {
    height: 250px;
}

/*Times positioning is adjusted to fit on the screen properly*/
.contact .image img {
    width: 50%;
    height: 110%;
    margin-top: -10px;
    margin-left: 90px;
}

/*The image is still streched therefore the height of this is adjusted as well*/
.image {
    height: 25%;
}

/*FOOTER STYLING*/

/*Adds a colour to the footer background*/
footer {
    background-color: #5C6B73;
}

/*Facebook image is poisitioned*/
.facebook {
    margin-left: 80%;
    width: 10%;
    height: 90%;
}